<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>El Manipulador</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h1 class="text-center text-monospace display-3">EL MANIPULADOR</h1>
      <div class="jumbotron p-4 p-md-5 text-white bg-dark">
        <div class="col-md-12 px-0">
          <strong>{{ main.author }}</strong>
          <div>{{ main.published_at }}</div>
          <h2 class="display-5 font-italic my-3">{{ main.headline }}</h2>
          <p class="lead my-3">{{ main.content|slice:"0:180" }}...</p>
          <p class="lead mb-0">
            <a href="/articles/{{ main.id }}" class="text-white font-weight-bold">Sigue leyendo...</a>
          </p>
        </div>
      </div>
      <div class="row mb-2">
        {% for article in articles %}
          <div class="col-md-6">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <strong class="mb-1 text-primary">{{ article.author }}</strong>
                <div class="mb-1 text-muted">{{ article.published_at }}</div>
                <h3 class="mb-0 my-2">{{ article.headline }}</h3>
                <p class="card-text mb-auto my-2">{{ article.content|slice:"0:180" }}...</p>
                <p class="mb-0 my-2">
                  <a href="/articles/{{ article.id }}">Sigue leyendo...</a>
                </p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
